{% extends "layout.html" %}
{% block body %}

<a href="{{ url_for("logout") }}">log out</a>


<h1>Task List</h1>
<div class="tasklist">
    <ul>
        {% for task in tasks %}
        <li>
            <a href="{{ url_for("view_task", id=task['id']) }}">Task {{ task['id'] }}</a>:
            {{ task['title'] }}
            {% if task['completed_at'] %} &mdash; Completed
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

<form method="POST" action="{{ url_for("save_task") }}">
    <input type="text" name="title" id="enter_task" placeholder="Enter a new task"></input>
    <input type="submit" id="submit_button"></input>
</form>

{% endblock %}